{
  "plugins": [
    [
      "lodash",
      {
        "id": [
          "lodash",
          "recompose"
        ]
      }
    ],
    "syntax-dynamic-import",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-object-rest-spread",
    [
      "glam/babel.js",
      {
        "sync": false,
        "inline": true
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ]
}