{
  "plugins": [
    ["lodash", {
      "id": ["lodash", "recompose"]
    }],
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ]
}
