{
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions",
          "node": "current"
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ]
}
